body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

div{
    /* con esto conseguimos centrar nuestro ejercicio */
    margin: auto;
    padding: 50px;
}

button{
    /*le damos color y dimensiones a nuestro boton*/
    background-color: rgb(20, 63, 182);
    color: white;
    width: 100px;
    height: 50px;
    border: none;
}